# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
tfplan
.terraform.lock.hcl

# Reports Jenkins (générés à chaque build)
reports/

# Secrets (ne jamais committer)
*.pem
*.key
secrets.yml
vault_pass.txt

# IDE
.vscode/
.idea/
*.swp

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db
